<!-- HEADER -->
{% include "./layout/header.twig" %}
{% block page %}


    <div class="c-subpage">
        <div class="c-breadcrumbs">
            <a href="#" class="c-breadcrumbs-item">Главная</a>
            <a href="#" class="c-breadcrumbs-item">Новости</a>
        </div>
            <div class="c-title-layout c-title-layout--left">
                <div class="c-title-label">12.04.21</div>
                <h2 class="c-title">В Архдраме очередная премьера — «Карамазовы. Мытарь»</h2>
            </div>
        <section class="post">
            <div class="post-img">
                <img src="./src/img/news-img-1.jpg" alt="">
            </div>
            <div class="post-body">
                <p>
                    <b>Стать свидетелем расследования великой тайны зрители Архангельского театра драмы имени М.В. Ломоносова смогут 7 и 8 мая на премьере спектакля «КАРАМАЗОВЫ. МЫТАРЬ». На основной сцене развернётся детективная история, которая выльется в глубокий разговор о смерти и жизни, о грехе и любви, о человеке и обществе. А как иначе у Ф. М. Достоевского?</b>
                </p>
                <p>
                    Режиссёр спектакля и автор инсценировки Алексей Ермилышев обратился к последнему роману Ф.М. Достоевского и поставил в центр сюжетную линию Дмитрия Карамазова, обвинённого в убийстве своего отца. Главную роль исполняет Дмитрий Беляков. Название «Карамазовы.Мытарь» отсылает к трём главам, описывающим три «мытарства» Мити. В православной религии мытарства —  это «свидания» с бесами, которые происходят после смерти человека с девятого по сороковой день. Но герой спектакля встречается со своими внутренними бесами ещё при жизни. На суде он понимает: от себя не убежишь. Как душе Мити предстоит символически умереть под тяжестью совершенных грехов и символически воскреснуть под влиянием любви и раскаяния?
                </p>
                <div class="c-quote">
                    <div class="c-quote-head">
                        <div class="c-quote-img">
                            <img src="./src/img/avatar-img-1.jpg" alt="">
                        </div>
                        <div class="c-quote-text">Алексей Ермилышев:</div>
                    </div>
                    <div class="c-quote-body">
                        <p>
                            «Я взял очень светскую историю: выяснение всех обстоятельств судебного дела. В романе много богословских высказываний и персонажей — монахи, иеромонахи, схимники, старцы. Но в спектакле они почти все лишены слова. В фокусе —  расследование убийства и то, как Дмитрий принимает на себя кару. «Я не виноват, я не убивал отца. Но я должен пострадать. Потому что все мы за всех виноваты». Мысль, что все мы за всех виноваты и все мы должны держать ответ, впервые я услышал именно у Фёдора Михайловича в «Братьях Карамазовых». Это такая наша русская черта. Только в православии русском есть это, что мы все как-то связаны, все друг за друга ответственны».
                        </p>
                    </div>
                </div>
                <p>
                    Лаконичная и символичная сценография от Андрея Тимошенко, монохромные костюмы от Ирины Титоренко, завораживающий свет от Ольги Раввич, видеомеппинг от Сергея Жигальцова создадут особую атмосферу межпространственного ирреального места, между адом и раем, где проходит мытарства душа мытаря.
                </p>
                <p>
                    <i>
                        «Я решил стереть время, например, пистолеты, которые выкупает Митя, у нас начала XX века, хотя в романе именно дуэльные пистолеты. Костюмы тоже, казалось бы, передают эпоху, но не дают прямых отсылок. А сценография не имеет привязки к конкретному месту действия. Все это происходит вне времени и пространства, если бы человек остался наедине со своими страхами, мыслями, верой», — объясняет режиссёр.
                    </i>
                </p>
                <p>
                    Напомним, что с героями спектакля вы можете познакомиться уже сейчас с помощью видео-сериала, который был выпущен во время пандемии. В коротких роликах артисты будто отвечают на вопросы журналистов. Посмотреть можно здесь:
                    <a href="https://www.youtube.com/watch?v=9FCs4mgZjv8">https://www.youtube.com/watch?v=9FCs4mgZjv8</a>
                </p>
            </div>

        </section>
        <div class="c-btn-layout c-btn-layout--center">
            <a href="#" class="c-btn c-btn-default">Назад</a>
        </div>


    </div>



{% endblock %}
<!-- FOOTER -->
{% include "./layout/footer.twig" %}