<!-- HEADER -->
{% include "./layout/header.twig" %}
{% block page %}


    <div class="c-page">
    <div class="c-title-layout">
            <h2 class="c-title">Визит в театр</h2>
        </div>
        <section class="etiquette">
            <div class="etiquette-head">
                <div class="c-dropdown-menu js-dropdown-menu">
                    <div class="c-dropdown-menu__value">
                        <span>Театральный этикет</span>
                        <div class="c-dropdown-menu__icon">
                            <svg class="c-icon icon-dropdown-bottom">
                                <use xlink:href="./src/img/icons.svg#icon-dropdown-bottom"/>
                            </svg>
                        </div>
                    </div>
                    <div class="c-dropdown-menu-list">
                        <div class="c-dropdown-menu-list__item">
                            <a href="#">Услуги</a>
                        </div>
                        <div class="c-dropdown-menu-list__item">
                            <a href="#">Продажа билетов</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="etiquette-body">
                
                <div class="etiquette-img">
                    <img src="./src/img/etiquette-img-1.jpg" alt=""/>
                </div>
                <h3>Правило «третьего звонка» и дресс-код</h3>
                <p>
                Постарайтесь приходить вовремя, а лучше заранее до начала спектакля. Вход зрителей в театр, работа персонала и буфета начинается за один час до спектакля. В Архангельском драматическом, как и в каждом театре, работает «правило третьего звонка». Прозвенит третий звонок и вход в зрительный зал будет запрещён.
                </p>
                <p>
                Театр начинается с вешалки. Нельзя входить в зрительный зал в верхней одежде или вносить ее в зрительный зал. Верхнюю одежду необходимо сдать в гардероб. В случае утери номерка возмещается его стоимость в размере 500 рублей.
                </p>
                <div class="c-line-fullwidth"></div>
                <div class="etiquette-img">
                    <img src="./src/img/etiquette-img-2.jpg" alt=""/>
                </div>
                <p>
                Если вы придёте в театр заблаговременно, 
                то сможете найти и занять своё место, никого не побеспокоив. Кроме того, вы вдоволь насладитесь театральной атмосферой, рассмотрите интерьеры театра, сфотографируетесь, пообщаетесь с друзьями в театральном буфете или <a href="#">возьмёте в прокат бинокль</a>. А так же успеете ознакомиться 
                с программкой, репертуаром, фотографиями актеров труппы, размещенными в фойе, посетить музей Архангельского театра драмы.
                </p>
                <p>
                Более того перед первым показом премьерного спектакля в фойе для зрителя театр организовывает дополнительные мероприятия, как-то живая музыка, работа фотозон, с возможностью примерить театральные костюмы, модный показ, выставки и другие представления. 
                И если вы придете заранее вы 
                не пропустите эту атмосферу праздника.
                </p>
                <p>
                Если же вы всё же задержались, корректно объясните контролеру причину и попросите капельдинера провести вас на свободное место, предъявив билет. В антракте вы сможете занять то, которое указано в билете.
                </p>
                <div class="c-line-fullwidth"></div>
                <div class="etiquette-img">
                    <img src="./src/img/etiquette-img-3.jpg" alt=""/>
                </div>
                <p>
                    Очень важно отключать мобильные телефоны и не пользоваться другими мультимедийными средствами связи время спектаклей: плейером, планшетом или смартфоном. В театре всё сделано для хорошей акустики, а свет телефонов мешает другим зрителям и даже актерам. Поделиться своими впечатлениями вы сможете во время антракта.
                </p>
                <p>
                    Фото и видеосъемка в зрительном зале театра во время спектакля запрещена. Исключение по согласованию с пресс-службой театра делается для аккредитованных сотрудников средств массовой информации, а также приглашенных лиц администрацией для освещения театральной жизни. Однако вы, конечно, можете запечатлеть момент и сделать фотографии в интерьерах театра. А так же выставить в социальных сетях фото с хештегом #архдрама. Кроме того в театре действует <a href="#">услуга заказа фотосессии</a>.
                </p>
                <div class="c-line-fullwidth"></div>
                <p>
                    Во время спектакля не стоит кричать, свистеть, громко выражать эмоции, комментировать постановку, даже если она 
                    не оправдала ваших надежд или, напротив, поразила в самое сердце. Передвигаться по залу или вовсе покидать его во время спектакля нежелательно. Следует соблюдать тишину и уважать зрителей и актёров.
                </p>
                <p>
                    Постарайтесь не брать с собой в зал семечки, сухарики, чипсы, а также конфеты и другие лакомства в шелестящей обертке. Кроме того, в театре не принято жевать жевательную резинку. Перекусить вы сможете в антракте. 
                    В здании театра работает буфет.
                </p>


                <div class="c-attention">
                    <div class="c-attention-text">
                    <b>ВНИМАНИЕ!</b> Указанные скидки
                    не распространяются на первые 
                    5 премьерных показов спектакля. 
                    Все скидки распространяются только 
                    при покупке билетов в кассе. 
                    </div>
                </div>
                <p>
                    Здание Архангельского театра драмы оборудовано таким образом, что люди с ограниченными возможностями могут чувствовать себя в нем максимально комфортно. К их услугам пандусы, которые позволяют без труда попасть в зрительный зал. Есть специально оборудованные туалеты.
                </p>       
                <p>
                    Сегодня в театре не принят обязательный дресс-код. Но каждый спектакль — это праздник для театра, и мы приглашаем зрителя разделить его вместе с нами. Можно надеть вечернее платье, деловой костюм в строгих тонах или любимые джинсы. Если вы выберите более нарядную одежду, возможно, это только поднимет настроение, придаст уверенности в себе. Не стоит брать с собой в зрительный зал куртку или пальто, головные уборы. Если боитесь замерзнуть, можете включить в свой вечерний туалет пиджак или накидку.
                </p>
                <div class="c-line-fullwidth"></div>
                <p>
                Вход в театр с домашними животными запрещен. После спектакля вы можете преподнести цветы, конфеты и другие маленькие подарки актерам в знак признательности и уважения к их таланту. Дождитесь финальных поклонов, когда все участники представления выстраиваются на авансцене, и вручите цветы, стоя в проходе между сценой и первым рядом партера. Но главная награда для артистов — ваши эмоции, аплодисменты и хорошее настроение. Хорошие спектакли оставляют сильные впечатления и даже потрясения. Мы будем рады если поделитесь ими. Вы можете заполнить анкету зрителя (гиперссылка) или оставить отзыв о спектакле в Книге отзывов на первом этаже театра (у входа).
                </p>
                <div class="etiquette-img">
                    <img src="./src/img/etiquette-img-4.jpg" alt=""/>
                </div>
                <div class="c-note">
                    Подробнее С правилами поведения в Архангельском драматическом театре можете ознакомиться <a href="#">здесь</a>.
                </div>
            </div>
        </section>
    </div>



{% endblock %}
<!-- FOOTER -->
{% include "./layout/footer.twig" %}