.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 5.5em;
  box-shadow: 0 .4em 3.4em rgba(0, 0, 0, 0.15);
  padding: .4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  background-color: #fff;
  z-index: 100;

  &-left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  &-right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;


  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1.4em;
  }

  &-buy {
    svg {
      fill: #A71A37;
      font-size: 2.2em;
    }
  }



  &-search {

  }

  &-menu {
    
    &.active {
      .icon-hamburger {
        &::before,
        &::after,
        span {
          background-color: #A71A37;
        }
      }

    }

  }

  &-logo {
    padding: 0 .6em;
  }
}

.footer {
  background: #4A4C5C;
  padding: 2em 1em;
  color: #fff;

  &-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }

  &-contact {
    &__item {
      margin-bottom: 2em;
    }

    &__title {
      font-size: 1.2em;
    }

    &__phone {
      margin-bottom: .5em;
      a {
        display: block;
        color: #fff;
        @include clear-link();
        font-family: "Minion Pro", serif;
        font-style: normal;
        font-weight: 500;
        font-size: 2.4em;
        line-height: 1.1em;
      }
    }
  }

  &-time {
    margin-bottom: 2.1em;
    &__title {
      font-family: "Minion Pro", serif;
      font-style: normal;
      font-weight: 500;
      font-size: 2.4em;
      line-height: 1.1em;
      margin-bottom: .2em;
    }
    &__list {
      font-size: 1.2em;
      span {
        font-family: "Minion Pro", serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.3em;
        line-height: 1.1em;
      }
    }
  }

  &-link {
    margin-bottom: 2.3em;
  }

  .c-link {
    color: #fff;
  }

  &-social {
    margin-bottom: 2.3em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    &__link {
      padding: 0 1.1em;
    }
  }

  &-menu {
    text-align: center;
    margin-bottom: 2.3em;

    &__link {
      font-family: "Minion Pro", serif;
      color: #fff;
      display: block;
      @include clear-link();
      text-transform: uppercase;
      font-size: 1.8em;
      line-height: 3em;
      border-bottom: 1px solid #FFFFFF;

      &:first-child {
        border-top: 1px solid #FFFFFF;
      }
    }
  }

  &-copyright {
    font-size: 1.5em;
    line-height: 1.5em;
    font-family: "Minion Pro", serif;
    text-align: center;
  }
}

/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
.troupe {
  padding: 0 1em;
  margin-bottom: 3em;

  &-list {
    &__item {
      margin-bottom: 1em;

      &:nth-child(even) {
        .troupe-card {
          &__img {
            order: 2;
          }

          &__body {
            order: 1;
            padding: 0 .8em 0 0;
          }

          &__text,
          &__title {
            text-align: right;
          }
        }
      }
    }
  }

  &-card {
    display: flex;
    flex-flow: row nowrap;

    &__img{
      //width: 17.4em;
      flex: 1 0 17.4em;
      max-width: 17.4em;
      overflow: hidden;
      object-fit: cover;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    &__body {
      padding-left: .8em;
    }

    &__title {
      display: block;
      font-family: "Minion Pro", serif;
      font-size: 1.8em;
      line-height: 1.2em;
      text-decoration-line: underline;
      text-transform: uppercase;
      margin-bottom: .7em;
      word-break: break-all;
      hyphens: auto;
      color: #000;

      span {
        display: block;
      }
    }

    &__text {
      font-size: 1.4em;
      line-height: 1.3em;
      color: #4F5164;
    }
  }
}

/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
.banner {
  margin-bottom: 3em;

  &-list {
    &__item {
      width: 100%;
      margin-bottom: 1em;
    }
  }

  &-card {
    width: 100%;
    &__img {
      width: 100%;
      min-height: 20em;
      height: 20em;
      margin-bottom: 1em;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__body {
      padding: 1em;
      position: relative;
      z-index: 10;
      min-height: 16em;
    }

    &-time {
      text-align: right;
      margin-bottom: 1em;

      &__text {
        font-size: 1.6em;
        line-height: 1em;
        color: #000;
        margin-bottom: .5em;
        font-family: "Minion Pro", Serif;
      }
    }

    &__title {
      margin-bottom: 2em;
      position: relative;

      h2 {
        display: inline;
        font-family: "Minion Pro", Serif;
        font-style: normal;
        font-weight: 700;
        font-size: 2.6em;
        line-height: 1.2em;
        color: #000000;
      }


      /* black */

      color: #000000;
    }

    &__label {
      display: inline-block;
      width: 3em;
      height: 3em;
      text-align: center;
      font-size: 1.4em;
      line-height: 3em;
      color: #4F5164;
      border: 1px solid #4F5164;
      border-radius: 150px;
      position: absolute;
      right: 0;
    }

    &__btn {
    }

    &__text {
      font-size: 1.2em;
      margin-bottom: 2em;
      p {
        margin: 0;
        margin-bottom: .6em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .swiper-container-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: auto;
    top: 20.5em;
    font-size: 10px;
  }
}


/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
.performances {
  margin-bottom: 3em;

  &-list {
    &__item {
      width: 100%;
      margin-bottom: 1em;
    }
  }

  &-card {
    width: 100%;
    &__img {
      width: 100%;
      height: 17em;

      @media (min-width: 730px) {
        height: 50vw;
      }

      @media (min-width: 1200px) {
        height: 26vw;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__body {
      padding: 1em 5em 1em 1em;
      position: relative;
      min-height: 16em;
    }

    &-time {
      display: flex;
      align-items: center;
      &__text {
        font-size: 1.2em;
        line-height: 1em;
        color: #000;
        font-weight: 700;
        margin-right: .6em;
      }

      .performances-card__label {
        font-size: .8em;
        line-height: 2.2em;
        text-align: center;
        width: 2.5em;
        height: 2.5em;
        padding: 0;
      }
    }

    &__title {
      margin-bottom: 1.2em;

      a {
        display: inline;
        font-family: "Minion Pro", Serif;
        font-style: normal;
        font-weight: 500;
        font-size: 2.3em;
        line-height: 1.2em;
        text-decoration-line: underline;
        color: #000000;
        margin-right: .4em;
      }


      /* black */

      color: #000000;
    }

    &__label {
      display: inline-block;
      font-size: 1.4em;
      line-height: 1.5em;
      padding: 0 .5em;
      color: #A71A37;
      border: 1px solid #A71A37;
      border-radius: 150px;
    }

    &__btn {
      position: absolute;
      right: -5.3em;
      top: 6em;
      transform: rotate(270deg);

      .c-btn {
        padding: .7em;

        .c-icon {
          margin-right: .2em;
        }
      }
    }

    &__text {
      font-size: 1.2em;
      p {
        margin: 0;
        margin-bottom: .6em;
      }
    }
  }
}


/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
.afisha {
  margin-bottom: 3em;

  &-list {
    &__item {
      width: 100%;
      margin-bottom: 1em;
      border-bottom: 1px solid #E5E5E5;
    }
  }

  &-card {
    width: 100%;
    padding: 1em;
    min-height: 16.5em;

    &__body {
      position: relative;
    }

    &-time {
      display: flex;
      align-items: center;
      margin-bottom: .2em;

      &__text {
        font-size: 1.8em;
        line-height: 1.2em;
        color: #000;
        margin-right: .6em;
      }

      .performances-card__label {
        font-size: .8em;
        line-height: 2.2em;
        text-align: center;
        width: 2.5em;
        height: 2.5em;
        padding: 0;
      }
    }

    &__title {
      margin-bottom: 1.2em;

      a {
        display: inline;
        font-family: "Minion Pro", Serif;
        font-style: normal;
        font-weight: 500;
        font-size: 2.3em;
        line-height: 1.2em;
        text-decoration-line: underline;
        color: #000000;
        margin-right: .4em;
      }


      /* black */

      color: #000000;
    }

    &__label {
      display: inline-block;
      font-size: 1.4em;
      line-height: 1.5em;
      padding: 0 .5em;
      color: #A71A37;
      border: 1px solid #A71A37;
      border-radius: 150px;
    }

    &__btn {
      position: absolute;
      right: -6.35em;
      top: 3em;
      transform: rotate(270deg);

      .c-btn {
        padding: .7em;

        .c-icon {
          margin-right: .2em;
        }
      }
    }

    &__text {
      font-size: 1.2em;
      p {
        margin: 0;
        margin-bottom: .68em;
      }
    }
  }

  &-head {
    padding: 0 1em;
  }

  &-month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 2em;
    text-transform: uppercase;

    &__item {
      @include clear-link();
      font-family: "Minion Pro", serif;
      font-weight: bold;
      font-size: 1.8em;
      line-height: 1em;
      color: #4F5164;

      &.active {
        color: #A71A37;
      }
    }
  }
}
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
.contact {
  padding: 0 1em;
  &-img {
    margin-bottom: 2em;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &-body {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 2em;
  }

  &-info {
    &__item {
      margin-bottom: 2em;
    }

    &__title {
      font-size: 1.2em;
    }

    &__phone {
      margin-bottom: .5em;
      a {
        display: block;
        @include clear-link();
        font-family: "Minion Pro", serif;
        font-style: normal;
        font-weight: 500;
        font-size: 2.4em;
        line-height: 1.1em;
      }
    }
  }

  &-time {
    margin-bottom: 2em;
    &__title {
      font-family: "Minion Pro", serif;
      font-style: normal;
      font-weight: 500;
      font-size: 2.4em;
      line-height: 1.1em;
      margin-bottom: .2em;
    }
    &__list {
      font-size: 1.2em;
      span {
        font-family: "Minion Pro", serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.3em;
        line-height: 1.1em;
      }
    }
  }
}


/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
.news {
  margin-bottom: 3em;

  &-list {
    &__item {
      width: 100%;
      margin-bottom: 1em;
    }
  }

  &-card {
    width: 100%;
    &__img {
      width: 100%;
      min-height: 17em;
      height: 17em;

      @media (min-width: 730px) {
        height: 50vw;
      }

      @media (min-width: 1200px) {
        height: 26vw;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__body {
      padding: 1em;
      position: relative;
      min-height: 16em;
    }

    &-time {
      display: flex;
      align-items: center;

      &__text {
        font-size: 1.4em;
        line-height: 1em;
        color: #000;
        margin-bottom: .5em;
        font-family: "Minion Pro", Serif;
      }
    }

    &__title {
      margin-bottom: .6em;

      a {
        display: inline;
        font-family: "Minion Pro", Serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.9em;
        line-height: 1.2em;
        text-decoration-line: underline;
        color: #000000;
        margin-right: .4em;
      }


      /* black */

      color: #000000;
    }

    &__label {
      display: inline-block;
      font-size: 1.4em;
      line-height: 1.5em;
      padding: 0 .5em;
      color: #A71A37;
      border: 1px solid #A71A37;
      border-radius: 150px;
    }

    &__btn {
      position: absolute;
      right: -5.3em;
      top: 6em;
      transform: rotate(270deg);

      .c-btn {
        padding: .7em;

        .c-icon {
          margin-right: .2em;
        }
      }
    }

    &__text {
      font-size: 1.2em;
      p {
        margin: 0;
        margin-bottom: .6em;
      }
    }
  }
}


/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
.biography {
  padding: 0 1em;
  margin-bottom: 3em;
  &-img {
    width: 100%;
    margin-bottom: 2em;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &-body {

  }
}
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
.question {
  padding: 0 1em;

  &-list {
    &__item {
      margin-bottom: 2em;
      border-bottom: 1px solid #E5E5E5;
    }
  }

  &-card {
    &__title {
      font-family: "Minion Pro";
      font-style: normal;
      font-weight: 500;
      font-size: 1.9em;
      line-height: 1.2em;
      text-decoration-line: underline;
      padding-right: .9em;
      position: relative;
      padding-bottom: .6em;
    }

    &__icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;

      .icon-dropdown-bottom {
        font-size: .6em;
      }
    }

    &__text {
      display: none;
    }

    &.is-show {
      .question-card__icon {
        transform: translateY(-50%) rotate(180deg);
      }

    }
  }
}
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
.post {
  padding: 0 1em;
  margin-bottom: 2em;

  &-img {

    &__item {
      width: 100%;
      min-height: 17em;
      height: 17em;

      @media (min-width: 730px) {
        height: 50vw;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
.description {
  padding: 0 1em;
  &-head {
    margin-bottom: 2em;
  }
  &-img {
    &__item {
      width: 100%;
      min-height: 17em;
      height: 17em;

      @media (min-width: 730px) {
        height: 50vw;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}


/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
.services {
  padding: 0 1em;

  &-list {
    &__item {
      margin-bottom: 2em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-card {
    display: block;
    @include clear-link();
    position: relative;
    &__img {
      height: 17em;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      @include clear-link();
      color: #000000;
      position: absolute;
      left: -.6em;
      bottom: .6em;
      text-decoration: underline;
      font-family: "Minion Pro", Serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1.9em;
      line-height: 1.1em;
      padding: .65em 1.1em;
      background-color: #fff;
      z-index: 5;
      border: 1px dashed #4F5164;
    }

  }
}
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
.subscription {
  padding: 0 1em;
  margin-bottom: 3em;

  &-title {
    font-family: Minion Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 2.6em;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 .7em;
  }

  .c-form-item {
    margin-bottom: 2em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-body {
    border: 2px solid #4A4C5C;
    padding: 1.6em 2em 2.7em;
  }

}
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
.tickets {
  padding: 0 1em;

  &__title {
    font-family: "Minion Pro", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.9em;
    line-height: 1.2em;
    margin: 0 0 .5em 0;
    text-decoration: underline;
  }

  &-head {
    margin-bottom: 1em;
  }

  &-info {
    margin-bottom: 2em;
    &__title {
      font-family: "Minion Pro", serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1.9em;
      line-height: 1.2em;
      margin: 0 0 .5em 0;
      text-decoration: underline;
    }

    &-list {
      &__item {
        p {
          margin-bottom: .7em;
        }
      }
    }
  }

  &-people {
    &-list {
      &__item {
        margin-bottom: 1em;
        p {
          margin-bottom: .7em;
        }
      }
    }

    &__name {
      font-size: 1.3em;
      line-height: 1.3em;
      margin-bottom: 0.1em;
    }
    
    &__phone {
      display: block;
      font-size: 1em;
      line-height: 1.3em;
    }
  }
}

.etiquette {
  padding: 0 1em;

  &-img {
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 2em;
    }
  }

  h3 {
    text-decoration: underline;
  }
}