/****************************/
/****************************/
/****************************/

@media screen and (min-width:370px) {
  .main {
    font-size: 11px;
  }
}

@media screen and (min-width:410px) {
  .main {
    font-size: 12px;
  }
}

@media screen and (min-width:730px) {
  .troupe {
    &-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;

      &__item {
        width: 50%;
        padding: 0 1em;
        &:nth-child(even) {
          .troupe-card {
            &__img {
              order: 1;
            }
            &__title,
            &__text {
              text-align: left;
            }



            &__body {
              padding-left: .8em;
            }
          }
        }
      }
    }

    &-card {
      &__title {
        font-size: 1.5em;
      }

      &__text {
        font-size: 1.2em;
      }
    }
  }
}




/****************************/
/****************************/
/****************************/
